.loginBackground {
    background-color:#BB6B1E;
    min-height: 100vh;
    font-family: Didot;
  }
  .loginHeader {
    background-color:#BB6B1E;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:white;
    text-align: center;
    
  }