.loginBackground {
    background-color:#fff;
    min-height: 100vh;
    font-family: Arvo }
  .loginHeader {
    background-color:#fff;
    color: black;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
    text-align: center;
    
  }