.profileBackground {
    background-color:black;
    min-height: 100vh;
  }
  .title {
    background-color:black;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Didot";
  }
  .note-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: "Didot";
  }
  
  .note-form input {
    padding: 20px 20px;
    color: black;
    outline: none;
    
  }
  
  .note-form button {
    margin-left: 10px;
    color: white;
    background:#c4a349;
    padding: 5px 10px;
    border: none;
  }
  
  .container {
    /* background: #fafefc;
    color: "#293713"; */
    display: flex;
    justify-content: center;
    font-family: "Didot";
  }
  
  .notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .note {
    width: 20%;
    margin: 10px;
    padding: 13px;
    border-radius: 5px;
    border: solid white 1px;
    background: #c4a349;
    color: white;
    font-family: "Didot";
  }
  
  .btn-container {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
  }
  
  .btn-container button {
    margin-right: 10px;
    
  }
  
  .edit {
    color: black;
    background: white;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .delete {
    color: white;
    background: black;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }