.signupBackground {
    background-color:#fff;
    min-height: 100vh;
  }
  .signupHeader {
    background-color:#fff;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:white;
    text-align: center;
  }