.quiz-background {
    background-color: black;
}

.quiz-title {
    color: white;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 2em;
}