<<<<<<< HEAD
.quiz-background {
    background-color: black;
}
=======
/* html {
    background-color:black;
} */
>>>>>>> b46fd21923d768f16ec5700008b778aa3438fb43

.quiz-title {
    color: white;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 2em;
}